<h2>
  Az információhoz való alkotmányos jog
</h2>
<p>Minden állampolgárnak joga, hogy megismerje az állami, önkormányzati vagy más közfeladatot ellátó szerv, intézmény birtokában levő információkat. <strong>A jogszabályi előírásoknak megfelelően a közintézményeknek kötelező az adatigénylésekre választ adniuk.</strong> <a href="<%= help_about_url %>">Bővebben a közérdekű adatok igényléséről ...</a></p>
