<ul class="credits">
<li><%= _('Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>') %></li>
<li>Elindítását az <a href="http://www.opensocietyfoundations.org/">Open Society Institute</a> támogatta</li>
</ul>
