A jogszab&aacute;lyok, az Igazs&aacute;g&uuml;gyi Miniszt&eacute;rium &eacute;s az adatv&eacute;delmi biztos szerint is el&eacute;gs&eacute;ges az e-mail c&iacute;m megad&aacute;sa (<a href="<%= help_page_url %>#full_address">tov&aacute;bbi r&eacute;szletek</a>).

Az oldal alj&aacute;n v&aacute;laszolhat a k&ouml;zint&eacute;zm&eacute;nynek ezt elmagyar&aacute;zva.
