<% @title = "Adatvédelmi kérdések" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="privacy"><%= @title %></h1>
  <dl>

  <dt id="email_address">Ki láthatja az e-mail címemet? <a href="#email_address">#</a> </dt>

  <dd><p>E-mail címét senkinek nem adjuk ki - kivéve, ha azt törvény írja elő vagy ön kifejezetten kéri - azaz azt az adatgazdáknak sem adjuk ki. Ők az adatigénylést egy @kimittud.org végű e-mail címről fogják megkapni, amelyet az adott igényléshez hoztunk létre.  </p>
  <p>Ha weboldalunk egy másik felhasználójának küld üzenetet, akkor a címzett látni fogja az ön e-mail címét. Erről az üzenet küldése előtt minden esetben tájékoztatjuk önt.</p>
  </dd>

  <dt id="nasty_spam">El fogja-e árasztani a postafiókomat a levélszemét? <a href="#nasty_spam">#</a> </dt>
  <dd>Szó nincs róla. Csak az ön által beküldött adatigénylésekkel kapcsolatosan küldünk önnek e-maileket, valamint e-mailben igazoljuk vissza feliratkozását. 
Ezen felül csak az ön által külön engedélyezett esetekben küldünk önnek e-mail üzenetet, azaz ha feliratkozik például egy adatgazdával kapcsolatos értesítésekre. E-mail címét semmilyen körülmények közt nem adjuk tovább vagy adjuk ki harmadik fél részére - kivéve, ha azt jogszabály írja elő vagy ön kifejezetten kéri.
  </dd>

  <dt id="public_request">Miért jelenik meg a weboldalon nyilvánosan a nevem és az igénylésem? <a href="#public_request">#</a> </dt>

  <dd>
  <p>Adatigénylését azért tesszük közzé itt a weboldalon, hogy azt bárki elolvashassa és az ön által talált információkat felhasználhassa. Az adatigényléseket - kivételes esetektől eltekintve - <a href="#delete_requests">nem is töröljük</a>.
  </p>
  <p>
  Az ön neve hozzá van rendelve az adatigényléséhez, ezért az igénylésen a neve is szerepelni fog. A jogszabály persze lehetőséget ad arra, hogy akár névtelenül is igényelhessen adatot. Az adatgazda nem vizsgálhatja, hogy az adatigénylő kicsoda és milyen célra kívánja az adatot felhasználni. Névtelen igény esetén azonban a megtagadással szemben nehezen érvényesíthető bármilyen jogorvoslat, ezért azt ezen az oldalon nem támogatjuk. 
  </p>
 
  </dd>

  <dt id="real_name">Az adatigényléshez használhatok álnevet? <a href="#real_name">#</a> </dt>


  <dd>
  <p>Kérjük, hogy ne használjon álnevet, hiszen ön is átlátható információkat akar kapni az adatigénylés során, legyen ön is nyílt.</p>

<p>Ugyanakkor tény, hogy az adatgazda álnév használata esetén sem tagadhatja meg, hogy válaszoljon az adatigénylésre.</p>

<p>Legyen azonban körültekintő! Ha az adatgazda az álnéven benyújtott igénylésre nem vagy nem megfelelően válaszol, az álnév használata miatt ön nem tud majd jogorvoslattal élni.</p>

<p>Az álnév helyett számos jó megoldás létezik az igénylés benyújtására:</p>

<ul>
<li>használja nevét más formában. Pl. Dr. Kovács Béla Tamás helyett &quot;Kovács Béla&quot; vagy &quot;Kovács B. Tamás&quot;;</li>
<li>ha a jelenlegi neve nem egyezik a szülezési nevével, használja a születési nevét;</li>
<li>használja a szervezet vagy cég nevét, amelynek nevében benyújtja az adatigénylést;</li>
<li>kérjen meg valaki mást, hogy nyújtsa be az igénylést ön helyett;</li> 
<li>ha végképp nem tudja, hogy mit tegyen, megkérhet bennünket is, hogy az igénylést ön helyett elküldjük - ilyen esetben kérjük, <a href="/help/contact">lépjen velünk kapcsolatba</a>, és magyarázza el, hogy az igénylést miért nem tudja saját maga benyújtani és miért nem tudja ismerőseit sem megkérni. Természetesen nincsen kapacitásunk arra, hogy minden ilyen kérést teljesítsük, de ha fontosnak látjuk, meg fogjuk tenni.</li>
</ul>

<p>Fontos: semmiképpen ne adjon be adatigénylést más személy adatainak használatával.</p>

</dd>

<dt id="full_address">Az adatgazda elkérte a lakcímemet - muszáj azt megadnom?<a href="#full_address">#</a> </dt>

<dd>
<p>Ha egy adatgazda az ön lakcímét kéri, válaszolja azt, hogy ezt nem kötelessége megadni, mert a jogszabályi keretek szerint elegendő, ha ön az e-mail címét adja meg. Azonban kérdezzen rá, hogy miért kérik el a címet! Előfordulhat, hogy azért, mert csak papíron áll rendelkezésre a kért információ. Ebben az esetben először is próbálja meg rávenni az adatgazdát, hogy szkenneljék be az érintett dokumentumokat.</p>

<p>Ha ez nem vezet eredményre, akkor sem szükséges, hogy a lakcímét adja meg, elegendő egy olyan levelezési címet, ahol eléri önt a küldemény. Ebben az esetben azonban az igénylésében a &quot;Postai úton kapok választ&quot; lehetőséget jelölje meg.</p>
</dd>

<dt id="delete_requests">Előfordulhat, hogy a KiMitTud weboldalon törlik az adatigénylésemet vagy megváltoztatják a nevemet?  <a href="#delete_requests">#</a> </dt>

<dd>

<p>A KiMitTud weboldal a közérdekű adatigénylések állandó, nyilvános archívuma. Előfordulhat, hogy egy igénylésre adott válasz az ön számára már nem érdekes, másnak azonban még hasznos lehet. Ezen megfontolás miatt igénylést nem törlünk.
</p>

<p>Kivételes körülmények között előfordulhat, hogy a weboldalon eltávolítjuk vagy megváltoztatjuk az ön nevét, illetve egyéb személyes adatok eltávolítására is sor kerülhet.
</p>

</dd>

<dt id="takedown">El tudják távolítani a rám vonatkozó személyes adatokat? <a href="#takedown">#</a> </dt>

<dd> 

<p>Amennyiben weboldalunkon olyan személyes adatokat lát, amelyeket el szeretne távolítani vagy rejteni, kérjük, <a href="/help/contact">tájékoztasson bennünket</a>! Pontosan határozza meg, hogy mely adatot vél problematikusnak, és adja meg, hogy az pontosan hol jelenik meg a weboldalon!</p>

<p>Amennyiben valóban olyan személyes adatról van szó, amely véletlenül jelent meg a weboldalon, azt természetesen eltávolítjuk. Alapvetően csak akkor távolítjuk el a személyes adatot, ha azt maga az érintett személy kéri, de tájékoztatást szívesen fogadunk másra vonatkozó adatok esetén is.</p>

<p>Úgy gondoljuk, hogy a nyilvánosság szempontjából igen fontos, hogy az adatgazdák tisztviselőinek, munkatársainak neve, ha rendelkezésre áll, fel legyen tüntetve az adatgazda adatai között, illetve a válasz megjelenítésekor. Így adatgazdához kapcsolódó nevet csak kivételes körülmények esetén távolítunk el, például akkor, ha az érintett személy nevének és beosztásának közzététele jelentős kockázatot jelent az adott személy biztonságára nézve. Ha ön köztisztviselő, kormánytisztviselő vagy közalkalmazott, és nevét valamilyen méltányolható ok miatt el szeretné távolíttatni, juttassa el hozzánk az ön és közvetlen felettesének erre vonatkozó kérelmét. Ebben a kérelemben szerepelnie kell annak, hogy az adott kockázat nagyobb súlyú, mint a közérdek.</p>

<p>Minden egyéb jellegű kérelem esetén a közérdek szempontjából döntjük el, hogy az adott információt eltávolítjuk-e vagy sem.</p>

</dd>


</dl>

<p>A <strong>következő részben</strong> arról olvashat, hogy mit tegyen, <a href="/help/unhappy">ha elégedetlen a kapott válasszal</a>.

  <div id="hash_link_padding"></div>
</div>
